.calender-header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 540px;
}
.calender-header div .month{
    padding-left: 20px;
}
.calender-main{
    width: 540px;
    font-size: 16px;
}
.calender-header div span{
    font-weight: 500;
}
.left-arrow{
    padding-right: 15px;
    cursor:pointer;
}
.right-arrow{
    cursor: pointer;
}
.calender-card-main{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-top: 20px;
}
.calender-data-card{
   width: 60px;
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   gap: 8px;
   font-size: 14px;
   border-radius: 10px;
   padding: 8px 5px;
   cursor: pointer;
   /* border: 1px solid black; */
}
.calender-data-card:hover{
    background: #edf4ff;
}
.calender-data-card span{
    padding: 1px;
    font-size: 12px;
    font-weight: 500;
    border-radius: 6px;
}

.calender-data-card span:nth-child(2) {
  font-size: 1.5rem; /* or any size you prefer */
  font-weight: bold;
}
.Appointments{
    display: flex;
    flex-direction: row;
    gap: 20px;
    padding-top: 14px;
}
.Appointments .dentist{
    display: flex;
    flex-direction: column;
    gap: 3px;
    padding: 12px 22px;
      background: #dde2f9;
    border-radius: 15px;
    cursor: pointer;
    transition: background-color 0.3s ease, color 0.3s ease;
}
.Appointments .dentist:hover{
  background-color: #3734a9;
  color: white;
  cursor: pointer;
}
.Appointments .physio{
    transition: background-color 0.3s ease, color 0.3s ease;
    width:270px;
    display: flex;
    flex-direction: column;
      background: #dde2f9;
    gap: 3px;
    padding: 12px 22px;
    border-radius: 15px;
}
.Appointments .physio:hover{
  background-color: #3734a9;
  color: white;
  cursor: pointer;
}
.app-icon{
    float: right;
    padding-right: 5px;
}
.Avator-icon{
    border-radius: 10px;
    color: white;
    cursor: pointer;
    padding: 8px;
    background: #3533a5;
}
.right-header{
    float: right;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
    padding-top: 20px;
    padding-bottom: 9px;
    padding-right: 20px;
}
.dentist span{
    font-size: 14px;
}
.physio span{
    font-size: 14px;
}
#app-title{
    font-weight: 500;
    font-size: 16px;
    padding-bottom: 4px;
}
.avator-img{
   background-color: #04e1e6;
}