
.side-nav-container {
  display: flex;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
   border-top-left-radius: 20px;
 border-bottom-left-radius: 20px;
}


.side-nav {
  background-color: #f6f9fe;
  color: rgb(112, 112, 112);
  padding: 1rem;
  padding-top: 1rem;
  transition: width 0.3s ease-in-out;
  overflow: hidden;
  position: relative;
    border-top-left-radius: 20px;
 border-bottom-left-radius: 20px;
}

.side-nav.open {
  width: 240px;
}

.side-nav.collapsed {
  width: 70px;
}

.toggle-icon {
  position: absolute;
  top: 1rem;
  right: 1rem;
  cursor: pointer;
  font-size: 1.3rem;
}

.logo {
  font-size: 1.8rem;
  font-weight: bold;
  margin-bottom: 2rem;
  padding-left: 42px;
  color: #4cc4cf;
}
.care-text{
    color: #201855;
}

.general-menu {
  list-style: none;
  padding: 0px;
  margin: 0;
}
.general-menu p{
     padding: 0px 0px 0px 40px;
}

.general-menu-item {
  display: flex;
  align-items: center;
  padding: 8px 8px 8px 46px;
  border-radius: 8px;
  margin-bottom: 2px;
  cursor: pointer;
  transition: background-color 0.2s;
}

.general-menu-item:hover {
  color: #2a2f36;
  font-weight: 500;
}

.tools-menu {
  list-style: none;
  padding: 0;
  margin-top: 30px;
}
.tools-menu p{
     padding: 0px 0px 0px 40px;
}

.tools-menu-item {
  display: flex;
  align-items: center;
   padding: 8px 8px 8px 46px;
  border-radius: 8px;
  margin-bottom: 2px;
  cursor: pointer;
  transition: background-color 0.2s;
}

.tools-menu-item:hover {
    color: #2a2f36;
  font-weight: 500;
}
.icon {
  font-size: 1.2rem;
  margin-right: 1rem;
}

.label {
  font-size: 1rem;
  white-space: nowrap;
}
.tools-menu-item:last-child {
  margin-top: 90px;
}

.toggle-icon {
  display: none;
  cursor: pointer;
  margin: 1rem;
}




