* {
  font-family: "Roboto", sans-serif;
}
.App{
  padding: 8px;
  margin: 0;
  /* border-top-left-radius: 25px;
  border-bottom-left-radius: 25px; */
  border-radius: 25px;
  background-color: white;
}


.App{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.section-1{
   border-top-left-radius: 25px;
 border-bottom-left-radius: 25px;
}
.section-3{
  padding: 16px 30px;
  background: #f6faff;
  border-top-right-radius: 18px;
  border-bottom-right-radius: 18px;
} 
