*{
    font-family: "Roboto", sans-serif;
}
.App{
  padding: 0;
  margin: 0;
  border-top-left-radius: 20px;
 border-bottom-left-radius: 20px;
}
body{
 padding: 6px;
}
.App{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.section-1{
   border-top-left-radius: 20px;
 border-bottom-left-radius: 20px;
}
.section-3{
  padding: 25px 30px;
  background: #f6faff;
  border-top-right-radius: 18px;
  border-bottom-right-radius: 18px;
}